.backgroundColor {
  background-image: url('../style/images/backgroundColor.png');
  background-size: cover;
  background-position: center;
  transform: rotate(0deg);
  position: fixed;
  top: -350px;
  left: 650px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundStreets {
  background-image: url('../style/images/ruasBackgroundBG.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 100%;
  z-index: -2;
}
.roundedSquare {
    width: 400px; 
    height: 953px; 
    background-color: #023859; 
    position: absolute;
    border-top-right-radius: 10%;
    top: 0; 
    left: 0; 
    z-index: 1; 
  }
  
 .roundedSquare2 {
    width: 450px; 
    height: 160px; 
    background-color: #F2F2F2;
    border-radius: 50px; 
    position: absolute; 
    top: 0; 
    left: -40px; 
    z-index: 2; 
  }
  
 .logoEptran {
    width: 50%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50px; 
    position: absolute;
    top: 0;
    left: 110px; 
    z-index: 2;
  }
  
 .textRecomendado {
    position: absolute;
    top: 180px; 
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
  }
 .textProposto {
    position: absolute;
    top: 260px; 
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
  }

 .textRanking {
    position: absolute;
    top: 350px; 
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
  }

 .textConfig {
    position: absolute;
    top: 430px; 
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
  }

 .textNoti {
    position: absolute;
    top: 570px; 
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
  }

 .textMensagem {
    position: absolute;
    top: 650px; 
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
  }

 .textSair {
    position: absolute;
    top: 730px; 
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
  }

 .textAjuda {
    position: absolute;
    top: 850px;
    left: 70px; 
    z-index: 3; 
    color: #fff; 
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }

  .videoContainer {
    width: 800px; 
    height: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    position: relative; 
    margin: 142px auto;
    left: -100px; 
  }
  
 .videoContainer iframe {
    width: 90%;
    
    height: 80%; 
    border: none;
    position: absolute; 
    top: 50px; 
    left: 40px; 
    border-radius: 10px;
  }
  
 .legend {
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative; 
    bottom: 30px; 
    right: 340px; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }