* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoEptranBG {
    max-width: 150px;
    height: auto;
    display: block;
    margin-right: auto; /* Alinha à esquerda */
}

.navbar {
    background-color: #f2f2f2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Espaça a logo e o menu */
    align-items: center;
    flex-wrap: wrap;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centraliza os itens do menu */
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.navbar-item1, .navbar-item2, .navbar-item3, .navbar-item4 {
    margin-right: 20px;
    color: inherit;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-item1 {
    color: #f21d2f;
}

.navbar-item2 {
    color: #023859;
}

.navbar-item3 {
    color: #f2b807;
}

.navbar-item4 {
    color: rgb(63, 138, 63);
}

.navbar-item:hover {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

@media (max-width: 768px) {
    .navbar-item {
        margin-right: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .navbar-item {
        margin-right: 5px;
        font-size: 12px;
    }
}

img {
    width: 150px;
    height: auto;
}

.btRegister {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #44474b; 
    color: white;
    padding: 10px 20px;
    
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}

.btRegister:hover {
    background-color: #577eaa; 
}


