* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url('../style/images/backgroundLogin.png');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    margin-bottom: 20px;
}

.input-wrapper input[type="email"],
.input-wrapper input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
    margin-bottom: 20px;
    position: relative;
}

.input-wrapper input[type="email"]:focus,
.input-wrapper input[type="password"]:focus {
    border-color: #337ab7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password i {
    font-size: 18px;
    color: #337ab7;
}

#forgotPasswordLink {
    text-decoration: none;
    color: #337ab7;
    margin-bottom: 20px;
    display: block;
}

.language-select {
    margin-top: 20px;
}

#languageLabel {
    margin-right: 10px;
}

#languageSelect {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

@media  (max-width:auto) {
   .container {
        padding: 15px;
    }
   .input-wrapper input[type="email"],
   .input-wrapper input[type="password"] {
        height: 35px;
        padding: 8px;
    }
    #languageSelect {
        height: 35px;
        padding: 8px;
    }
    body {
        background-size: 100% auto;
    }
}

@media only screen and (max-width: 480px) {
   .container {
        padding: 10px;
    }
   .input-wrapper input[type="email"],
   .input-wrapper input[type="password"] {
        height: 30px;
        padding: 6px;
    }
}